@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "luxury";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14.076% 0.004 285.822);
  --color-base-200: oklch(20.219% 0.004 308.229);
  --color-base-300: oklch(23.219% 0.004 308.229);
  --color-base-content: oklch(75.687% 0.123 76.89);
  --color-primary: oklch(100% 0 0);
  --color-primary-content: oklch(20% 0 0);
  --color-secondary: oklch(27.581% 0.064 261.069);
  --color-secondary-content: oklch(85.516% 0.012 261.069);
  --color-accent: oklch(36.674% 0.051 338.825);
  --color-accent-content: oklch(87.334% 0.01 338.825);
  --color-neutral: oklch(24.27% 0.057 59.825);
  --color-neutral-content: oklch(93.203% 0.089 90.861);
  --color-info: oklch(79.061% 0.121 237.133);
  --color-info-content: oklch(15.812% 0.024 237.133);
  --color-success: oklch(78.119% 0.192 132.154);
  --color-success-content: oklch(15.623% 0.038 132.154);
  --color-warning: oklch(86.127% 0.136 102.891);
  --color-warning-content: oklch(17.225% 0.027 102.891);
  --color-error: oklch(71.753% 0.176 22.568);
  --color-error-content: oklch(14.35% 0.035 22.568);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --text-h1: 3.052rem; /* ~48.8px */
  --text-h2: 2.441rem; /* ~39px */
  --text-h3: 1.953rem; /* ~31px */
  --text-h4: 1.563rem; /* ~25px */
  --text-h5: 1.25rem; /* ~20px */
  --text-h6: 1rem; /* 16px */
}

h1 {
  font-size: var(--text-h1);
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h2 {
  font-size: var(--text-h2);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.015em;
}

h3 {
  font-size: var(--text-h3);
  line-height: 1.25;
  font-weight: 600;
}

h4 {
  font-size: var(--text-h4);
  line-height: 1.3;
  font-weight: 600;
}

h5 {
  font-size: var(--text-h5);
  line-height: 1.4;
  font-weight: 600;
}

h6 {
  font-size: var(--text-h6);
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.rarity-5 {
  background: linear-gradient(
    135deg,
    #5a3b12 0%,
    #7b5317 20%,
    #9d6c1d 45%,
    #c58b2b 70%,
    #e0b04d 100%
  );

  color: #fff;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 10px rgba(197, 139, 43, 0.25);
}

.rarity-4 {
  background: linear-gradient(
    135deg,
    #2f1f46 0%,
    #4a3268 25%,
    #66458c 50%,
    #8a64b7 75%,
    #b49ce0 100%
  );

  color: #fff;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 10px rgba(138, 100, 183, 0.25);
}
